.hl-highlight{
    background-color:#CD5C5C;
}
.hl-highlight-0{
    background-color:#00FF7F !important;
}
.hl-highlight-1{
    background-color:#00EEEE !important;
}
.hl-highlight-2{
    background-color:#00BFFF !important;
}
